@charset "utf-8";
/* 
	CSS Document for Riddle Room
	by Aakash Bhatia
    Email: akash.bhatia1184@gmail.com
	URI: http://thebrauxelcode.com/
	Page: Home
*/

html {
	background: url(../images/home-page/home-bg.jpg) no-repeat center center fixed;

}