@charset "utf-8";
/* 
	CSS Document for Riddle Room
	by Aakash Bhatia
    Email: akash.bhatia1184@gmail.com
	URI: http://thebrauxelcode.com/
	Page: Landing
*/

html {
	background: url(../images/index-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 1024px) {
	html {
		height:230% !important;
		transition: backgound 999999s;
	}
}